name: Generate Single JSONLD File
on:
  push:
    branches: [ master ]
  pull_request:
    branches: '*'
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        
    - name: Install packages
      run: |
        python -m pip install --upgrade pip setuptools
        pip install glob2 pyld argparse requests pandas
        
    # Runs combinebidsjsonld.py and updates the single jsonld files
    - name: OWL to josnld
      run: |
        python utils/owl2jsonterms.py -owl incf-nidash/nidm-specs/blob/master/nidm/nidm-results/terms/nidm-results.owl -out terms/NIDM_Terms.jsonld 
    
    #commits the changes to the repository
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Terms Updates
